body {
  background-color: dimgray;
}

#navbar {
  position: fixed;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b0c3c98a;
}

li  {
  display: inline;
}

#welcome-section {
background-color: purple;
}

.project-tile {
  background-color: green;





